mixin carSelector(carArr)
    label(for="ownedCar") Car
        select(id="ownedCar", name="car")
            option(value="null", selected) ----
            each car in carArr
                option(value=`${car.VIN}`)= `${car.manufacturer}, ${car.model}, ${car.color}`



include ../includes/header.pug
body
    h1=title
    include ../includes/navigation.pug
    
    form(action="" method="POST")
        div
            label(class="required", for="firstName") First Name
            input#firstName(type="text", name="firstName", required)
        div
            label(for="midName") Middle Name
            input#midName(type="text", name="middleName")
        div
            label(class="required", for="lastName") Last Name
            input#lastName(type="text", name="lastName", required)
        div
            label(class="required", for="personId") ID
            input#personId(type="text", name="id", required)
        div
            label(for="bDate") Birth Date
            input#bDate(type="date", name="birthDate")
        div
            - const cars = [{manufacturer: "BMW", model: "GRAND", VIN: 1234, color: "DKGREEN"},{manufacturer: "MERC", model: "GRAND", VIN: 1234, color: "DKGREEN"},{manufacturer: "AUDI", model: "GRAND", VIN: 1234, color: "DKGREEN"}];
            +carSelector(cars)
        button(type="submit") Add Person

include ../includes/footer.pug